body {
    background-color: #EAF6f6;
}

hr {
    border-width: 5px;
    border-style: dotted;
    border-color: gray;
    border-top: none;
    border-left: none;
    border-right: none;
    height: 0px;
    width: 5%;
}

h1 {
    color: aqua;
}

h3 {
    color: aqua;
}