/**************************TAG SELECTOR**************************/


h1 {
    color: red;
    font-size: 200px;
}

/*

img {
    background-color: red;
}

*/

/**************************TAG SELECTOR**************************/


.bacon {
    background-color: green;
}

.broccoli {
    background-color: red;
}
