body {
    margin: 0%;
    text-align: center;
    color: #40514E;
    font-family: 'Merriweather', serif;
}

h1 {
    font-size: 5.625rem;
    color: #66BFBF;
    margin: 0% auto 0% auto;
    font-family: 'Sacramento', cursive;
}

h2 {
    font-size: 2.5rem;
    color: #66BFBF;
    padding-bottom: 10px;
    font-weight: normal;
    font-family: 'Montserrat', sans-serif;
}

h3 {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
}

a {
    color: #11999E;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    font-size: 1rem;
}

a:hover {
    color: #EAF6F6;
}

p {
    line-height: 200%;
}

hr {
    color: #EAF6F6;
    border: dotted;
    border-width: 8px 0 0 0;
    width: 4%;
}

.top-container {
    background-color: #EAF6F6;
}

.middle-container {
    margin: 100px 0px;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
}

.contact-me {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: center;
}

.bottom-container {
    color: #40514E;
}

.pro {
    text-decoration: underline;
}

.intro {
    width: 30%;
    margin: auto;
}

.top-cloud {
    position: relative;
    margin-top: 80px;
    margin-left: 40%;
}

.bottom-cloud {
    position: relative;
    margin-top: 20px;
    margin-right: 40%;
}

.code-img {
    width: 25%;
    border-radius: 100%;
    float: left;
    margin-right: 30px;
}

.chilli-img {
    width: 25%;
    border-radius: 100%;
    float: right;
    margin-left: 30px;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}
  
.btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
}

.bottom-container {
    margin: auto;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    height: 150px;
    width: 100%;
    background-color: #66BFBF;
}

.paragraph {
    margin: 40px auto 30px auto;
    color: #EAF6F6;
    font-size: .75rem;
}