body {
    margin: 0%;
}

h1 {
    margin-top: 0%;
}

.top-container {
    background-color: #E4F9F5;
    padding: 20px;
    width: 200px;
    height: 200px;
    border: solid;
    border-width: 10px;
}

.middle-container {
    background-color: red;
    margin: 0px 0px 0px 260px;
    width: 200px;
    height: 200px;
    border: solid;
    border-width: 20px;
}

.bottom-container {
    background-color: yellow;
    margin: 0px 0px 0px 500px;
    width: 200px;
    height: 200px;
    border: solid;
    border-width: 10px;
}